@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (min-width: 576px) { 
    
}
@media (min-width: 768px) { 
    .container {
        max-width: 1080px;
    }
}
@media (min-width: 850px) { 
    .container {
        max-width: 870px;
    }
}
@media (min-width: 992px) { 
    .container {
        max-width: 1080px;
    }
}

@media (min-width: 1200px) { 
    .container {
        max-width: 1380px;
    }
}
@media (min-width: 1400px) { 
    .container {
        max-width: 1500px;
    }
}
img {
    max-width: 100%;
}
:root {
    --blue: #005091;
    --lightGreen: #70CE71;
    --green: #4FA550;
    --cyan: #00A99B;
    --red: #D94945;
    --yellow: #C6CC2D;
    --lightGrey: #DCE3E6;
    --grey: #8B9599;
    --lightOrange: #FFAD2C26;
    --orange: #E85919;
    --brown: #9B3A10;
    --lightBlue: #4abcd6;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Inter', sans-serif;
}

.top-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #DCE3E6;
    align-items: center;
    color: var(--blue);
    font-size: 14px;
}
.top-header a {
    color: var(--blue);
}
.top-header-contact {
    display: flex;
}
.top-header-contact-item {
    margin: 0.5rem 1rem;
}
.top-header-contact-item a {
    font-weight: 600;
}
.top-header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.top-header-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
}
.top-header-menu ul li {
    display: flex;
    align-items: center;
}
.top-header-menu ul li a::after {
    content: "|";
    font-size: 16px;
    padding: 0 0.75rem;
}
.top-header-menu ul li:last-child a::after {
    display: none;
}
.dropdown-clear {
    position: relative;
    display: flex;
    align-items: center;
}
.dropdown-clear-heading {
    display: flex;
    align-items: center;
}
.dropdown-clear-heading::after {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    content: url(../icons/arrow-alt-down.svg);
}
.dropdown-clear-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    display: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    padding: 0.25rem 1rem;
}
.dropdown-clear-content.active {
    display: block;
}
.dropdown-clear-content ul {
    list-style: none;
    padding: 0;
    margin: 0;

}
.top-header-lang {
    padding: 0 2rem;
}
.header {
    padding: 1.5rem 0;
}
.header-logo {
    max-width: 300px;
    margin-right: 3rem;
}
.header-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-info {
    margin-left: auto;
}

.header-search {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid var(--cyan);
    border-radius: 15px;
    opacity: 1;
    position: relative;
    display: flex;
}
.header-search form {
    display: flex;
    margin: 0;
    padding: 0;
    padding: 0.5rem 0.25rem;
    
}
.header-search form input {
    font-size: 16px;
    border: none;
    outline: none;
    border-right: 1px solid var(--lightGrey);
    padding-left: 20px;
    min-height: 30px;
    min-width: 350px;
}
.header-search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-search-icon button {
    -webkit-appearance: none;
    border: none;
    background: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header-search-category {
    color: var(--grey);
}
.header-search .dropdown-clear-heading {
    color: var(--grey);
}
.header-search .dropdown-clear-heading::after {
    content: url(../icons/arrow-alt-down-grey.svg);
    margin-left: 3rem;
}
.header .dropdown-clear a:hover {
    text-decoration: none;
}
.header .dropdown-clear {
    margin-right: 10px;
    min-height: 30px;
    border-right: 1px solid var(--lightGrey);
    padding-right: 15px;
    padding-left: 15px;
}
.header .dropdown-clear-content {
    width: 100%;
}
.header .dropdown-clear-content a {
    color: var(--grey);
}
.header-search {
    width: 100%;
    max-width: 620px;
}
.header-info{
    display: flex;
}
.header-info-icon {
    display: block;
    margin: 0.1rem 0.75rem;
    position: relative;
}
.header-info-icon span {
    padding:  1px 2px;
    background: var(--red);
    color: white;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    right: -8px;
    bottom: -5px;
    border-radius: 50%;
    min-width: 17px;
    height: 17px;
    text-align: center;
}
.cart-price {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}
.cart-price a {
    color: var(--blue);
    font-weight: bold;
}
.cart-price span {
    color: #2E3133;
    font-size: 10px;
}
.header-menu {
    display: flex;
    background: var(--lightGreen);
    width: 100%;
    min-height: 64px;
    position: relative;
}
.header-menu-category-heading {
    padding: 0 2rem;
    display: flex;
    background: var(--green);
     color: white;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
    min-width: 330px;
}
.header-menu-category-heading::after {
    content: url(../icons/arrow-alt-down-big.svg);
    margin-left: auto;
    width: 24px;
    text-align: center;

}
.header-menu-category:hover .header-menu-category-heading::after {
    content: url(../icons/menu.svg);
}
.header-menu-category {
    display: flex;
}
.header-menu-row {
    display: flex;
    align-items: stretch;
    height: 100%;
}
.header-menu-category-heading:hover {
    background: #015851;
}
.header-menu-category-content {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}
.header-menu-category {
    position: relative;
}
.header-menu-category-content {
    display: block;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 15px 15px;
    background: white;
    width: 100%;
    display: none;
    z-index: 5;
}
.header-menu-category-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0.5rem 0;
}
.header-menu-category-content ul li a {
    color: #2E3133;
    padding: 0.75rem 28px;
    display: block;
    
}
.header-menu-category-content ul li a:hover {
    background: #DCE3E6;
    text-decoration: none;
}
.header-menu-category:hover .header-menu-category-content {
    display: block;
}
.header-menu-category:hover .header-menu-category-heading {
    background: #015851;
}
.header-menu-category-content ul li a {
    position: relative;
}
.header-menu-category-content ul li a::after {
    content: url(../icons/arrow-alt-down-black.svg);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
}
.header-menu-category-content ul li a {
    padding-right: 35px;
}
.header-menu-items {
    margin-left: 3rem;
}
.header-menu-items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: stretch;
    height: 100%;
    z-index: 4;
}

.header-menu-items ul li a {
    color: white;
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: center;
    padding: 1rem 2.1rem;
    align-items: center;
    border-left: 1px solid #5BB55C;
    font-size: 17px;
    white-space: nowrap;
    
}
.header-menu-items ul li:last-child a {
    border-right: 1px solid #5BB55C;
}
.header-menu-items ul li a:hover, .header-menu-items ul li.active a {
    text-decoration: none;
    background: #00A99B;
}
.header-menu-category-but {
    width: 64px;
    position: relative;
    margin-left: auto;
}
.header-menu-category-but::after {
    content: url(../icons/menu.svg);
}
.header-menu-items {
    display: flex;
    width: 100%;
}
.header-menu-category-but {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu-category-but:hover {
    background: #015851;
}
.header-menu-category-but {
    display: none;
}
.header-menu-category.active .header-menu-category-heading {
    background: #015851;
}
.header-menu-category.active .header-menu-category-heading::after {
    content: url(../icons/menu.svg);
}
.header-menu-category.active .header-menu-category-content {
    display: block;

}
.header-menu-category-content {
    background: white;
}
.header-menu-items.active ul {
    display: flex;
}
.header-products {
    padding: 1.5rem 0;
}
@media (max-width: 1500px) { 
    .header-menu-category-heading {
        font-size: 14px;
    }
    .header-menu-items ul li a {
        font-size: 14px;
    }
  
}
@media (max-width: 1350px) { 
    .header-menu-items ul li a {
        padding: 1rem 1.5rem;
    }
    .header-menu-items {
        margin: 0;
    }
}
@media (max-width: 1200px) { 
    .header-search {
        order: 3;
        width: 100%;
        margin: auto;
        margin-top: 1rem;
    }
    .header-menu .container {
        padding: 0;
    }
    .header-menu-items ul li a {
        padding: 1rem 1rem;
        font-size: 13px;
    } 
} 
@media (max-width: 991px) { 
    .top-header-menu {
        display: none;
    }
    .header-menu .container {
        max-width: unset;
    }
    .header-menu-items ul li a {
        background: white;

    }
    .header-menu-items ul li.active a, .header-menu-items ul li a:hover {
        color: white;
    } 

    .header-menu-items ul {
        display: none;
    }
    .header-menu-category-but {
        
    }
    .header-menu-category {
        width: 100%;
    }
    .header-menu-category-heading  {
        width: 100%;
        min-width: unset;
    }
    .header-menu-items {
        margin: 0;
        width: 100%;
    }
    .header-menu-items {
        width: unset;
        margin-left: auto;
    }
    .header-menu-category-but {
        display: flex;
    }
    .header-menu-items ul {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .header-menu-items ul {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 0px 0px 15px 15px;
        background: white;
        flex-direction: column;
        height: unset;
    }
    .header-menu-items ul li a {
        color: black;
        border-bottom: 1px solid #DCE3E6;
    }
}
@media (max-width: 767px) { 

    .top-header-contact-item span {
        display: none;
    }
    .top-header-contact-item {
        display: flex;
        align-items: center;
    }
    .top-header-contact-item::before {
        content: url(../icons/phone.svg);
        margin-right: 0.5rem;
    }
    .top-header-contact-item:nth-child(2) {
        display: none;
    }
    .categories-search {
        display: none;
    }
    .header-search {
        width: unset;
    }
    .header-search-icon {
        margin: 0 1rem;
    }
    .header-search form input {
        min-width: unset;
        border: none;
        max-width: 150px;
    }
    .header-logo {
        margin: auto;
        width: 100%;
        max-width: unset;
        text-align: center;
        padding-bottom: 1.25rem;
        margin-bottom: 0.5rem;
    }
    .header-search {
        order: 2;
        width: unset;
    }
    .header-info {
        order: 3;
    }
    .header-logo {
        position: relative;
    }
    .header-logo::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 1100%;
        background: #DCE3E6;
    }
    .header {
        overflow: hidden;
    }
    .header-menu-category-heading span {
        display: none;
    } 
    .header-menu-category-heading::before {
        content: 'Kategorie';
    }
    .header-menu .container {
        max-width: unset;
        padding: 0;
    }
    .header-menu-items {
        margin: 0;
    }
}

@media (max-width: 450px) { 
    .top-header-contact-item a {
        font-size: 12px;
    }
    .header-search {
        margin: 0;
        margin-top: 1rem;
        max-width: 150px;
    }
    .header-search form input {
        max-width: 80px;
    }
    .header-info {
        margin-top: 1rem;
    }
    .header-info-icon {
        margin: 0.1rem 0.5rem;
    }
    .top-header-lang {
        padding: 0 1rem;
    }
   
}


/* Header Products */
.header-products-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-products-item {
    display: flex;
    
}
.header-products-item-image {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F8F9FA;
    margin-right: 1rem;
}

.header-products-item-content {
    display: flex;
    flex-direction: column;
    letter-spacing: 0px;
    color: #2E3133;
    font-size: 14px;
}
.header-products-item-content span.big {
    color: var(--blue);
    font-weight: bold;
}


@media (max-width: 991px) { 
    .header-products-wrap {
        justify-content: center;
    }
    .header-products-item {
        width: 50%;
        margin: 1rem 0;
    }
}
@media (max-width: 500px) { 
    .header-products-item {
        width: 100%;
        margin: 0.5rem 0;
    }
}

/* Homepage */
.homepage-b {
    border-radius: 15px;
    background: var(--lightOrange);
    max-width: 75%;
    padding: 4rem 6rem;
}
.homepage-b .owl-carousel .owl-item img {
    width: 100%;
}
.homepage-b h1 {
    color: var(--orange);
    font-weight: bold;
    font-size: 48px;
    margin-top: 2rem;
}
.homepage-b p {
    color: var(--brown);
    font-size: 18px;
    margin: 1.5rem 0;
}
.homepage-b-image img {
    margin: auto;
}
.btn {
    padding: 0.75rem 2rem;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    line-height: inherit;
    outline: none!important;
    box-shadow: none!important;
}
.btn-danger {
    color: #fff;
    background-color: var(--red);
    border-color: var(--red);
}
.homepage-b .homepage__slider .owl-dot {
    outline: none;
}
.homepage-b .homepage__slider .owl-dot span {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: none;
    margin: 0.3rem;
    background: #8B9599;
    outline: none;
    transition: 0.1s ease-in-out all;
}
.homepage-b .homepage__slider .owl-dot.active span {
    width: 16px;
    height: 16px;
    background: #2E3133;
    outline: none;
}
.homepage__slider .owl-dots {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
}
.homepage-banner {
    padding-bottom: 2rem;
}
.sale-product {
    width: 23%;
    margin-left: 2%;
    border: 3px solid var(--red);
    border-radius: 15px;
    margin-left: auto;

}
.homepage-banner-row{
    display: flex;
}
.homepage__slider--row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}
.homepage__slider--text {
    width: 50%;
    padding-bottom: 2rem;
}
.homepage__slider--image {
    width: 50%;
}
.homepage-b {
    width: 75%;
}
.homepage-b p {
    max-width: 320px;
}
.sale-product {
    padding: 1rem 1.5rem;

}
.sale-product-heading {
    display: flex;
    justify-content: space-between;
}
.sale-product-heading-text {
    font-size: 20px;
    color: var(--red);
    font-weight: bold;
}
.basic-nav {
    display: flex;
}
.basic-nav span {
    background: #DCE3E6;
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
    cursor: pointer;
}
.basic-nav span:after {
    content: url(../icons/arrow-left-blue.svg);
}
.basic-nav span:last-child:after {
    transform: rotate(180deg);
}
.sale-product-image {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    position: relative;
}
.sale-product-image {
    max-width: 150px;
    margin: auto;
}
.small-cart {
    width: 40px;
    height: 40px;
    background: #DCE3E6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.small-cart img {
    width: unset!important;
    max-width: unset;
}
.sale-product-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.sale-product-text span {
    color: #8B9599;
    font-size: 14px;
}
.sale-product-text a {
    color: #005091;
    font-weight: bold;
}
.sale-product-shop {
    display: flex;
    align-items: center;
}
.sale-product-shop .head-price {
    color: #3D7C45;
    font-size: 20px;
    font-weight: bold;
}
.sale-product-shop .prev-price {
    text-decoration: line-through;
    color: #8B9599;
    font-size: 16px;
    margin-left: 0.5rem;
}
.countdown-text {
    font-size: 16px;
    color: #2E3133;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}
.countdown-tab {
    width: 100%;
    padding: 0.5rem 1rem;
    background: var(--red);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
}
.countdown-tab-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.2;
}
.countdown-tab .num {
    font-weight: bold;
    font-size: 16px;
}
.countdown-tab .desc {
    font-size: 10px;
}
.double-dot {
    font-weight: bolder;
    font-size: 16px;
}
.sale-product {
    max-width: 25%;
}
@media (max-width: 1200px) { 
    .homepage-b {
        padding: 2rem ;
    }
    .homepage-b h1 {
        font-size: 36px
    }
    .homepage-b p {
        font-size: 18px;
    }
    .homepage-banner-row {
        flex-direction: column;
    }
    .homepage-b {
        width: 100%;
    }
    .homepage-banner .sale-product {
        margin: 0;
        margin-top: 2rem;
        max-width: none;
        width: 100%;
    }
    .homepage-b {
        max-width: 100%;
    }
    .sale-product {
        max-width: 30%;
    }
}
@media (max-width: 991px) {  
    
    .homepage__slider--image {
        display: none;
    }
    .homepage__slider--text {
        width: 100%;
    }
    .homepage-b .owl-carousel .owl-item img {
        display: none;
    }
    .homepage__slider .owl-dots  {
        position: unset;
        padding-top: 1rem;
    }
    .homepage-b {
        padding: 2rem 4rem;
    }
    .homepage-b {
        max-width: 100%;
    }
}
@media (max-width: 500px) { 
    .homepage-b {
        padding: 1rem 2rem;
    }
    .homepage-b h1 {
        font-size: 36px
    }
    .homepage-b p {
        font-size: 18px;
    }
    .header {
        padding-top: 0.5rem;
    }
    .header-logo {
        padding-bottom: 0.5rem;
    }
}

.basic-heading {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.basic-heading h2 {
    font-size: 28px;
    color: #2E3133;
    font-weight: bold;
}
.basic-heading a {
    margin-left: 2rem;
    color: var(--blue);
    display: flex;
    align-items: center;
}
.basic-heading a::after {
    content: url(../icons/arrow-light-blue.svg);
    margin-left: 1rem;

}
.top-sell {
    margin-bottom: 3rem;
}
.product-box {
    border-radius: 15px;
    border: 2px solid #DCE3E6;
    padding: 3rem 2rem;
    max-width: 330px;
margin: auto;
}
.product-box-image {
    display: flex;
    justify-content: center;
}
.product-box-availability {
    display: flex;
    color: #8B9599;
    font-size: 14px;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}
.product-box-availability-line {
    width: 100%;
    max-width: 110px;
    height: 7px;
    background: #DCE3E6;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 1rem;
}
.product-box-availability-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
    background: var(--green);
    z-index: 2;
    height: 7px;
}
.product-box-availability-line.red::after {
    width: 25%;
    background: var(--red);
}
.product-box-availability-line.orange::after {
    width: 50%;
    background: var(--orange);
}
.product-box .sale-product-text {
    margin-top: 1rem;
}
.top-sell__carousel {
    width: 100%;
    max-width: 75%;
}
.imune-banner {
    width: 100%;
    max-width: 23%;
    /*border: 3px solid #fafafa;*/
    border-radius: 15px;
    margin-right: 2%;
    background: #fafafa;
    padding: 3rem;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;

}
.imune-banner span {
    color: white;
    display: block;
}
.imune-banner-bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.imune-banner-bottom span {
    color: var(--blue);
    padding-bottom: 1rem;
}
.btn-cyan {
    background: var(--cyan);
    color: white;
}
.btn-cyan:hover {
    color: white;
}
.banners {
    padding-bottom: 3rem;
}
.product-box:hover {
    border-color: var(--blue);
}
.basic-navs-item {
    padding: 0.75rem 1.5rem;
    color: var(--blue);
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    margin: 0.5rem;
}
.basic-navs-item.active, .basic-navs-item:hover {
    background: var(--blue);
    color: white;
    text-decoration: none;
}
.basic-navs {
    margin-bottom: 3rem;
margin-top: 2rem;
display: flex;
overflow: auto;
padding-bottom: 10px;
}
.popular-brands {
    padding-bottom: 3rem;
}
.brand_item {
    border-radius: 15px;
    border: 2px solid #DCE3E6;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.news {

    padding: 3rem 0;
    background: #F8FAFA;
}
.news__carousel {
    padding-top: 1rem;
}
.news-box {
    margin: auto;
    max-width: 450px;
    background: white;
    border-radius: 15px;
    padding: 2rem;
}
.news-box-badge {
    border-radius: 5px;
    background: var(--cyan);
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
    color: white;
    font-size: 14px;
    width: fit-content;
    width: -moz-fit-content;
}
.news-box-heading {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.news-box-heading a {
    color: var(--blue);
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.news-box-heading span {
    color: #8B9599;
    font-size: 12px;
}
.news-box p {
    font-size: 17px;
    color: #2E3133;
}
.news-box .link {
    color: var(--blue);
    font-weight: bold;

}
.news-box .link::after {
    content: url(../icons/arrow-left-blue.svg);
    transform: rotate(180deg);
margin-left: 1rem;
width: 6px;
height: 11px;
display: inline-block;
}
.newsletter {
    background: var(--blue);
    padding: 0.5rem 0;
    align-items: center;
    border-bottom: 1px solid white;
    position: relative;
}
.newsletter-text h3 {
    color: white;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0px;
}
.newsletter-text::before {
    content: url(../icons/mail.svg);
    transform: translateY(0.5rem);
    margin-right: 3rem;
}
.newsletter-text {
    display: flex;
    align-items: center;
}
.newsletter-input {
    display: flex;
    align-items: center;
    width: 100%;
}
.newsletter input {
    border-radius: 15px;
    background: white;
    font-size: 16px;
    color: #8B9599;
    box-shadow: none;
    outline: none;
    padding: 1rem 1.5rem;
    border: none;
    width: 100%;
}
.btn-blue {
    background: var(--lightBlue);
    color: white;
}
.btn-blue:hover {
    color: white;
}
.newsletter button {
    transform: translateX(-30px);
}
.footer {
    background: var(--blue);
    padding: 3rem 0;
}
.footer_item h3 {
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 1.5rem;
}
.footer_item ul {
    list-style: none;
    padding: 0;
}
.footer_item ul li a {
    color: white;
    font-size: 16px;
    margin-bottom: 0.5rem;
    display: inline flow-root list-item;
}
.footer-col {
    width: 100%;
    max-width: 20%;
    padding: 1rem;
}
.footer-col p {
    color: white;
    line-height: 1.8;
}
.footer .contacts .email::before {
    content: url(../icons/footer-mail.svg);
    width: 48px;
    height: 48px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 1rem;
}
.footer .contacts .phone::before {
    content: url(../icons/footer-phone.svg);
    width: 48px;
    height: 48px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 1rem;
}
.footer-col img{ 
    max-width: 177px;
}
.footer .contacts a {
    display: flex;
    align-items: center;
}
.bottom-footer {
    display: flex;
    justify-content: space-between;
    background: #003865;
}
.bottom-footer {
    padding: 0.5rem 0;
    color: white;
}
.bottom-footer {
    font-size: 12px;
}
@media (max-width: 1400px) { 
    .footer-col {
        max-width: 25%;
    }
} 
@media (max-width: 1200px) { 
    .newsletter-text h3 {
        font-size: 24px;
    }
    .footer-col {
        max-width: 33.33%;
    }
}  
@media (max-width: 991px) {  
    .footer-col {
        max-width: 50%;
    }
    .imune-banner {
        display: none;
    }
    .top-sell__carousel {
        width: 100%;
        max-width: 100%;
    }
    .newsletter-text::before {
        display: none;
    }
    .newsletter {
        padding: 3rem 0;
    }
    .newsletter h3 {
        margin-bottom: 1rem;
    }
}
@media (max-width: 776px) { 
    .footer-col { 
        max-width: 100%;
    }
    .footer {
        padding: 1rem 0;
    }
} 

@media (max-width: 600px) { 
    .newsletter {
        padding: 2rem 0;
    }
    .basic-heading h2 {
        width: 100%;
        
    }
    .newsletter-text {
        z-index: 1;
    }
    .newsletter-text::before {
        display: block;
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        right: 0;
        top: 0;
    }
    .newsletter-text h3 {
        margin-bottom: 2rem;
        max-width: 270px;

    }
    .newsletter {
        z-index: 2;
    }
    .basic-heading a {
        margin-left: 0;
    }
    .basic-navs-item {
        font-size: 14px;
        padding: 0.5rem 1rem;
        
    }
    .newsletter-input {
        display: flex;
        flex-direction: column;
    }
    .newsletter-input button {
        margin-top: 1rem;
        margin-right: auto;
        transform: none;
    }
    .newsletter-text h3 {
        font-size: 28px;
    }
}